<div class="login-reg-panel">
    <div class="white-panel">

        <form method="post" action="/userLogin/check">
            <div class="login-show">
                <h2>LOGIN</h2>
                <input type="text" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Login">
            </div>
        </form>
        <div class="register-show">
            <a href="/userLogin/register">Register??</a>
        </div>
    </div>
</div>

{{#if loginError}}
    <div class="alert alert-success alert-with-icon" data-notify="container">
        <button type="button" aria-hidden="true" class="close">×</button>
        <span data-notify="icon" class="fa fa-check"></span>
        <span data-notify="message">{{msg}}</span>
    </div>
{{/if}}